.vacancy-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_content {
        width: 100%;
    }

    &_flex-item {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    &_desc {
        background: rgb(255, 255, 255);
    }

    &_more-btn {
        margin-top: 8px;
        text-align: center;
        color: #a3a6a9;
        cursor: pointer;
    }
}
