.vacancy-component {
    max-width: 1196px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0px;
    }

    &_logo-container {
        width: 446px;
        height: 126px;
        overflow: hidden;
        background-color: #fff;
        margin-right: 20px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
    }

    &_logo {
        height: inherit;

        &__svg {
            height: min-content;
        }
    }

    &_specifics {
        font-size: 16px;
        line-height: 140%;
        overflow: hidden;

        color: #000000;
    }

    &_specifics--height {
        height: 200px;
    }

    &_about {
        font-family: 'Rubik-regular';
    }

    &_type {
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 140%;

        color: #545454;
    }

    &_desc {
        color: #000000;
    }

    &_type:last-child {
        margin-bottom: 0px;
    }
}
