.footer {
  margin-top: 90px;
  margin-bottom: 164px;

  @media (max-width: 450px) {
    margin-top: 64px;
    margin-bottom: 94px;
  }

  &__title {
    margin-bottom: 74px;
    line-height: 76px;
    font-size: clamp(2rem, 0.364rem + 5.82vw, 4rem);

    @media (max-width: 450px) {
      margin-bottom: 32px;
    }
  }

  &__form {
    width: 438px;
    margin-bottom: 29px;

    @media (max-width: 450px) {
      width: 272px;
    }
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__buttom {
    margin-top: 3px;
  }

  &__confirm-message {
    width: 389px;
    font-size: 14px;
    line-height: 160%;
    margin-top: 43px;

    @media (max-width: 770px) {
      width: 100%;
    }

    @media (max-width: 450px) {
      width: 283px;
    }
  }

  &__link {
    display: inline-block;
    border-bottom: 2px dashed black;
  }

  &__message {
    font-size: clamp(0.75rem, 0.443rem + 1.09vw, 1.125rem);
    line-height: 160%;
    width: 307px;
    margin-bottom: 74px;

    @media (max-width: 450px) {
      margin-top: 32px;
      width: 271px;
    }
  }

  &__phone {
    font-size: clamp(1rem, 0.182rem + 2.91vw, 2rem);
    line-height: 24px;
    margin-bottom: 8px;

    @media (max-width: 450px) {
      margin-top: 33px;
      font-size: 22px;
    }
  }

  &__mail {
    font-size: clamp(1rem, 0.182rem + 2.91vw, 2rem);
    line-height: 32px;
    margin-bottom: 78px;

    @media (max-width: 450px) {
      margin-top: 10px;
      font-size: 22px;
    }
  }

  &__adres {
    font-size: clamp(0.75rem, 0.443rem + 1.09vw, 1.125rem);
    line-height: 160%;
    width: 275px;
    margin-bottom: 5px;
  }

  &__route {
    font-size: clamp(0.75rem, 0.443rem + 1.09vw, 1.125rem);
    line-height: 24px;
  }

  .button {
    @media (max-width: 620px) {
      width: 100%;
    }
  }
}
